# Plik docker-compose: definiuje usługi, sieci i wolumeny dla projektu PBOTS
# Użyj polecenia 'docker compose up --build' aby uruchomić cały stack
services:
  backend:
    build:
      context: ./backend/chatbot-api
      dockerfile: Dockerfile
    container_name: pbots-backend
    extra_hosts:
      - "host.docker.internal:172.17.0.1"
    environment:
      - QDRANT_URL=http://qdrant:6333 
      - OLLAMA_URL=${OLLAMA_URL}
      - LOGFIRE_TOKEN=${LOGFIRE_TOKEN}
      - MODEL_NAME=${MODEL_NAME}
      - EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
      - COLLECTION_NAME=documents
    depends_on:
      - qdrant
    volumes:
      - ./backend/chatbot-api:/app
    restart: unless-stopped

  mongo:
    # Baza danych MongoDB do przechowywania danych czatu
    image: mongo:7
    container_name: mongo-json-database
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_ROOT_PASSWORD}
      - MONGO_INITDB_DATABASE=chatbot
    volumes:
      - mongo_data:/data/db

  mongo-express:
    # Panel administracyjny Mongo Express do zarządzania bazą MongoDB
    image: mongo-express:latest
    restart: always
    ports:
      - "8081:8081"
    container_name: mongo-express
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=${MONGO_ROOT_USERNAME}
      - ME_CONFIG_MONGODB_ADMINPASSWORD=${MONGO_ROOT_PASSWORD}
      - ME_CONFIG_BASICAUTH_USERNAME=${MONGO_EXPRESS_USERNAME}
      - ME_CONFIG_BASICAUTH_PASSWORD=${MONGO_EXPRESS_PASSWORD}
      - ME_CONFIG_MONGODB_SERVER=mongo
    depends_on:
      - mongo

  qdrant:
    # Silnik wektorowy Qdrant do przechowywania embeddingów i wyszukiwania semantycznego
    image: qdrant/qdrant:latest
    volumes:
      - qdrant_data:/qdrant/storage
    restart: unless-stopped
    ports:
      - "6333:6333"

volumes:
  # Wolumen do trwałego przechowywania danych MongoDB
  qdrant_data:
  # Wolumen do trwałego przechowywania danych Qdrant
  mongo_data:
  # Wolumen do przechowywania uploadowanych plików
  qdrant_uploads: