services:
  backend:
    build:
      context: ./backend/chatbot-api
      dockerfile: Dockerfile
    network_mode: "host"
    environment:
      - QDRANT_URL=http://localhost:6333
      - OLLAMA_URL=$OLLAMA_URL
      - LOGFIRE_TOKEN=$LOGFIRE_TOKEN
    depends_on:
      - qdrant
    volumes:
      - ./backend/chatbot-api:/app
    restart: unless-stopped

  qdrant-api:
    build:
      context: ./backend/qdrant-api
      dockerfile: Dockerfile
    network_mode: "host"
    environment:
      - QDRANT_URL=http://localhost:6333
    depends_on:
      - qdrant
    volumes:
      - ./backend/qdrant-api:/app
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend

    network_mode: "host"
    environment:
      - NEXT_PUBLIC_BACKEND_URL=http://localhost:8000
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    restart: unless-stopped

  mongodb:
        image: mongo:7
        container_name: mongodb
        restart: always
        environment:
          - MONGO_INITDB_ROOT_USERNAME=root
          - MONGO_INITDB_ROOT_PASSWORD=example
          - MONGO_INITDB_DATABASE=chatbot
        ports:
          - "27017:27017"
        volumes:
          - mongodb_data:/data/db

  qdrant:
    image: qdrant/qdrant:latest
    network_mode: "host"
    volumes:
      - qdrant_data:/qdrant/storage
    restart: unless-stopped

volumes:
  qdrant_data:
  mongodb_data: