services:
  backend:
    build:
      context: ./backend/chatbot-api
      dockerfile: Dockerfile
    network_mode: "host"
    environment:
      - QDRANT_URL=http://localhost:6333
      - OLLAMA_URL=http://212.122.192.226:11434/v1
      - LOGFIRE_TOKEN=$LOGFIRE_TOKEN
    depends_on:
      - qdrant
    volumes:
      - ./backend/chatbot-api:/app
    restart: unless-stopped

  qdrant-api:
    build:
      context: ./backend/qdrant-api
      dockerfile: Dockerfile
    network_mode: "host"
    environment:
      - QDRANT_URL=http://localhost:6333
    depends_on:
      - qdrant
    volumes:
      - ./backend/qdrant-api:/app
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend

    network_mode: "host"
    environment:
      - NEXT_PUBLIC_BACKEND_URL=http://localhost:8000
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    restart: unless-stopped

  qdrant:
    image: qdrant/qdrant:latest
    network_mode: "host"
    volumes:
      - qdrant_data:/qdrant/storage
    restart: unless-stopped

volumes:
  qdrant_data:
